<div id="<%= dom_id collection %>">
  <p>
    <strong>Collection:</strong>
    <%= collection.collection_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= collection.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= collection.description %>
  </p>

  <p>
    <strong>Numberofcourses:</strong>
    <%= collection.numberofcourses %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= collection.price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= collection.rating %>
  </p>

  <p>
    <strong>Numberofreviews:</strong>
    <%= collection.numberofreviews %>
  </p>

</div>
